easy_admin:
    entities:
#        # List the entity class name you want to manage
        - App\Entity\BlogPost
#        - App\Entity\Product
#        - App\Entity\Category
        - App\Entity\User
